In [ ]:
import pandas as pd

# Carregar o arquivo Feather (.ftr)
df = pd.read_feather('credit_scoring.ftr')

# Remover colunas desnecessárias (exemplo, substitua 'colunas_a_remover' pelas colunas que você quer excluir)
colunas_a_remover = ['coluna1', 'coluna2']  # Exemplo, adapte à sua necessidade
df = df.drop(columns=colunas_a_remover)

# Amostragem dos dados (opcional, use uma fração menor do dataset, por exemplo, 80% dos dados)
df_sample = df.sample(frac=0.8, random_state=42)  # Exemplo de 80% dos dados

# Converter tipos de dados para reduzir espaço (Exemplo: converter floats para float32, int64 para int32)
df_sample['coluna_exemplo'] = df_sample['coluna_exemplo'].astype('float32')

# Salvar o arquivo com compressão no formato Parquet (que suporta compressão)
df_sample.to_parquet('caminho_para_salvar_arquivo/arquivo_reduzido.parquet', compression='gzip')

# Ou salvar novamente como Feather (sem compressão)
df_sample.reset_index(drop=True, inplace=True)
df_sample.to_feather('caminho_para_salvar_arquivo/arquivo_reduzido.ftr')

In [2]:
import pandas as pd

# Carregar o arquivo Feather (.ftr)
df = pd.read_feather('credit_scoring.ftr')
df

,data_ref,index,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,qt_pessoas_residencia,renda,mau
0,2015-01-01,5733,F,N,N,0,Empresário,Médio,Solteiro,Casa,43,6.873973,1.0,2515.39,False
1,2015-01-01,727,F,S,S,0,Assalariado,Médio,Casado,Casa,35,4.526027,2.0,3180.19,False
2,2015-01-01,6374,F,N,N,2,Assalariado,Médio,Casado,Casa,31,0.243836,4.0,1582.29,False
3,2015-01-01,9566,F,N,N,0,Assalariado,Médio,Casado,Casa,54,12.772603,2.0,13721.17,False
4,2015-01-01,9502,F,S,N,0,Assalariado,Superior incompleto,Solteiro,Casa,31,8.432877,1.0,2891.08,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749995,2016-03-01,13689,M,N,S,0,Empresário,Superior completo,Casado,Casa,48,3.038356,2.0,2109.99,False
749996,2016-03-01,7000,F,N,S,0,Pensionista,Médio,Solteiro,Casa,65,NaN,1.0,1389.39,False
749997,2016-03-01,14023,M,S,N,2,Assalariado,Médio,Casado,Casa,43,10.375342,4.0,649.06,True
749998,2016-03-01,2396,F,N,S,0,Assalariado,Médio,Viúvo,Casa,56,13.780822,1.0,4216.72,True
749999,2016-03-01,14026,M,S,N,2,Assalariado,Médio,Casado,Casa,43,10.375342,4.0,4460.69,False

In [4]:
df_sample = df.sample(n=100000, random_state=42)
df_sample

,data_ref,index,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,qt_pessoas_residencia,renda,mau
404846,2015-09-01,6593,F,N,S,0,Pensionista,Médio,Casado,Casa,62,NaN,2.0,5466.64,False
580313,2015-12-01,1403,F,N,S,0,Pensionista,Médio,Casado,Casa,58,NaN,2.0,6235.48,False
552086,2015-12-01,11876,F,S,N,0,Assalariado,Médio,Casado,Casa,30,1.991781,2.0,1588.68,False
370876,2015-08-01,13388,M,S,N,1,Empresário,Superior completo,Casado,Governamental,42,2.432877,3.0,12398.49,False
239330,2015-05-01,4678,F,S,N,0,Servidor público,Médio,União,Casa,45,19.534247,2.0,101062.66,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344642,2015-07-01,16489,M,N,S,3,Assalariado,Médio,Casado,Casa,34,4.594521,5.0,7612.85,False
59100,2015-02-01,7427,F,S,N,1,Assalariado,Superior completo,Casado,Governamental,34,6.800000,3.0,4149.12,True
459049,2015-10-01,3058,M,S,S,0,Assalariado,Médio,Casado,Casa,30,6.550685,2.0,21012.37,False
164187,2015-04-01,6805,F,N,S,0,Assalariado,Superior incompleto,União,Casa,25,4.797260,2.0,9160.19,False
746185,2016-03-01,2968,F,N,N,0,Assalariado,Médio,Casado,Casa,41,0.465753,2.0,587.13,True

In [5]:
df_sample.reset_index(drop=True, inplace=True)
df_sample

,data_ref,index,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,qt_pessoas_residencia,renda,mau
0,2015-09-01,6593,F,N,S,0,Pensionista,Médio,Casado,Casa,62,NaN,2.0,5466.64,False
1,2015-12-01,1403,F,N,S,0,Pensionista,Médio,Casado,Casa,58,NaN,2.0,6235.48,False
2,2015-12-01,11876,F,S,N,0,Assalariado,Médio,Casado,Casa,30,1.991781,2.0,1588.68,False
3,2015-08-01,13388,M,S,N,1,Empresário,Superior completo,Casado,Governamental,42,2.432877,3.0,12398.49,False
4,2015-05-01,4678,F,S,N,0,Servidor público,Médio,União,Casa,45,19.534247,2.0,101062.66,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2015-07-01,16489,M,N,S,3,Assalariado,Médio,Casado,Casa,34,4.594521,5.0,7612.85,False
99996,2015-02-01,7427,F,S,N,1,Assalariado,Superior completo,Casado,Governamental,34,6.800000,3.0,4149.12,True
99997,2015-10-01,3058,M,S,S,0,Assalariado,Médio,Casado,Casa,30,6.550685,2.0,21012.37,False
99998,2015-04-01,6805,F,N,S,0,Assalariado,Superior incompleto,União,Casa,25,4.797260,2.0,9160.19,False
99999,2016-03-01,2968,F,N,N,0,Assalariado,Médio,Casado,Casa,41,0.465753,2.0,587.13,True

In [6]:
df_sample.to_feather('sample_credit_scoring.ftr')